@import './variables';

:root {
  --primary: #{$primary};
  --background: #{$background};
  --background-highlight: #{$background-highlight};
  --backgdrop-light: #{$backdrop-light};
  --backdrop: #{$backdrop};
  --orange: #{$orange};
  --grey: #{$grey};
  --grey-lighter: #{$grey-lighter};
  --white: #{$background};
  --fade-grey: #{$fade-grey};
  --max-white: #{$max-white};
  --coal: #{$coal};
  --border: #{$border};
  --box-shadow: #{$box-shadow};
  --raisin-black: #{$raisin-black};
  --font-color-text: #{$font-color-text};
  --gainsboro: #{$gainsboro};
  --amaranth: #{$amaranth};
  --red: #{$red};
  --silver: #{$silver};
  --magenta: #{$magenta};


  --background-content: #141414;
  --font-family-base: 'Sharp Sans', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Helvetica, Arial, sans-serif;
  --font-weight-bold: 600;
  --font-size-small: 0.85rem;
  --font-size-mini: 0.65rem;
  --border-color: #303030;
  
  --spacer: 2rem;
  --border-radius: 0.2rem;
}
