// Colors
$primary: #3e3d3b;
$background: #f5f6fa;
$background-highlight: #f7f7f7;
$backdrop: #3e3d3b48;
$backdrop-light: hsla(0, 0%, 100%, 0.8);
$orange: #d88e40;
$grey: #707070;
$grey-lighter: #7e7e7e;
$white: #f8f4ed;
$fade-grey: #dbd0be;
$wheat: #dbd0be;
$max-white: #ffffff;
$coal: #161616;
$border: #353535;
$box-shadow: rgba(0, 0, 0, 0.05);
$raisin-black: #252425;
$font-color-text: #ebebeb;
$gainsboro: #e3e2e2;
$amaranth: #ea414b;
$red: #fe2843;
$silver: #c4c4c4;
